mat-dialog-content {
    max-width: 600px;
    max-height: 600px;
    width: 300px !important;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  
  mat-dialog-actions {
    background-color: #ffffff;
  }
  .mat-mdc-form-field {
    width: 90%;
    color: black !important;
  }
  
  h2 {
    font-size: 24px !important;
    color: #0b003b !important;
    margin-bottom: 0px !important;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  
  }
  

  

  
  
  mat-card{
      background-color: #ffffff;
      color: black;
  }