<mat-dialog-content>
  <h2 mat-dialog-title style="color: black; font-weight: bold">
    <mat-icon> person </mat-icon>
    {{ data.dialogTitle }}
  </h2>

  @if(click === true){
  <div>
    <span style="color: red">{{ error }}</span>
  </div>
  }

  <form [formGroup]="frmSetPassword">
    @if (data.ACTION !== 'CHANGE_PASSWORD') {

    <mat-form-field
      appearance="fill"
      class="custom-field"
      style="margin-bottom: -12px; padding-bottom: -10px; margin-top: 5px"
    >
      <mat-label>Enter your email</mat-label>
      <input matInput formControlName="email" (click)="onInputClick()" />
    </mat-form-field>

    <div class="alert-div" *ngIf="F['email'].touched">
      @if ((F['email'].errors?.['required'] ) ) {
      <small>El correo es obligatorio</small>
      } @else if ((F['email'].invalid && F['email'].dirty)) {
      <small>Formato de correo no válido</small>
      }
    </div>

    } @if (data.ACTION === 'CHANGE_PASSWORD') {

    <mat-form-field
      appearance="fill"
      style="margin-bottom: -12px; padding-bottom: -10px; margin-top: 5px"
    >
      <mat-label class="password-label">Enter your current password</mat-label>
      <input
        matInput
        formControlName="currentPassword"
        [type]="passwordVisibility.currentPassword ? 'password' : 'text'"
        (click)="onInputClick()"
      />
      <button
        class="password-button-icon"
        mat-icon-button
        matSuffix
        (click)="toggleVisibility('currentPassword')"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="!passwordVisibility.currentPassword"
      >
        <mat-icon class="password-input-icon">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="alert-div" *ngIf="F['currentPassword'].touched">
      @if ((F['currentPassword'].errors?.['required'] ) ) {
      <small>Ingrese la contraseña actual</small>
      }
    </div>

    }

    <mat-form-field
      appearance="fill"
      class="custom-field"
      style="margin-bottom: -12px; padding-bottom: -10px; margin-top: 5px"
    >
      <mat-label>Enter your new password</mat-label>

      <input
        matInput
        [type]="passwordVisibility.password ? 'password' : 'text'"
        formControlName="password"
        (click)="onInputClick()"
      />

      <button
        class="password-button-icon"
        mat-icon-button
        matSuffix
        (click)="toggleVisibility('password')"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="!passwordVisibility.password"
      >
        <mat-icon class="password-input-icon">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="alert-div" *ngIf="F['password'].touched">
      @if ((F['password'].errors?.['required'] ) ) {
      <small>Ingrese la contraseña</small>
      }
    </div>

    <mat-form-field
      appearance="fill"
      style="margin-bottom: -12px; padding-bottom: -10px; margin-top: 5px"
    >
      <mat-label class="password-label">Confirm new password</mat-label>
      <input
        matInput
        [type]="passwordVisibility.confirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword"
        (click)="onInputClick()"
      />
      <button
        class="password-button-icon"
        mat-icon-button
        matSuffix
        (click)="toggleVisibility('confirmPassword')"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="!passwordVisibility.confirmPassword"
      >
        <mat-icon class="password-input-icon">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="alert-div" *ngIf="F['confirmPassword'].touched">
      <small
        *ngIf="F['confirmPassword'].errors?.['required']"
        style="color: red"
      >
        Confirme la contraseña
      </small>

      <small
        *ngIf="!F['confirmPassword'].errors && frmSetPassword.errors?.['passwordMismatch']"
        style="color: red"
      >
        Las contraseñas no coinciden.
      </small>
    </div>
  </form>

  <mat-dialog-actions>
    <button
      style="background-color: rgb(11, 11, 152); color: white"
      mat-raised-button
      cdkFocusInitial
      type="submit"
      (click)="
        data.ACTION === 'CHANGE_PASSWORD'
          ? onChangePassword()
          : onRecoveryAccount()
      "
    >
      Enviar
    </button>

    <button
      style="background-color: rgb(106, 106, 255); color: white"
      mat-button
      [mat-dialog-close]="false"
    >
      Cancelar
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
