
<mat-card class="info-card">
  <mat-card-header>
    <mat-card-title style="font-weight: bold; margin-bottom: 5px;">Sobre la aplicación</mat-card-title>
 
  </mat-card-header>

  <mat-card-content>
  <p>
  La siguiente aplicación tiene únicamente fines académicos y demostrativos. Las transferencias serán solo simulaciones para demostrar su funcionalidad.
</p>

  </mat-card-content>
</mat-card>

<mat-card class="info-card">
  <mat-card-header>
    <mat-card-title style="font-weight: bold; margin-bottom: 5px;">Transferencias</mat-card-title>
 
  </mat-card-header>

  <mat-card-content>
    <p>
      Haz tus transferencias sin límites ni complicaciones. Puedes transferir
      entre tus cuentas o a otras personas al instante, sin embargo para
      realizar esta opción debes verificar tu cuenta por el correo electrónico
      registrado.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="info-card">
  <mat-card-header>
    <mat-card-title style="font-weight: bold; margin-bottom: 5px;">Inicio de sesión</mat-card-title>
  
  </mat-card-header>

  <mat-card-content>
    <p>
      Puedes iniciar la sesión a traves del botón ubicado en la esquina derecha
      superior.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="info-card"  >
  <mat-card-header>
    <mat-card-title style="font-weight: bold; margin-bottom: 5px;">Para los nuevos usuarios</mat-card-title>
 
  </mat-card-header>

  <mat-card-content>
    <p>
      Cada usuario nuevo registrado en el sistema, recibe $5000 de saldo inicial para realizar transacciones.
    </p>
  </mat-card-content>
</mat-card>

<div style="height: 1px;"></div>

